var config = module.exports = {}
var fs = require('fs');

config.httpsConfig = {
    key: fs.readFileSync('/etc/ssl/private/keyfile.key'),
    cert: fs.readFileSync('/etc/ssl/private/certfile.pem')
//    ,ca: fs.readFileSync('/etc/ssl/private/CAfile.pem')
};
config.HTTP_PORT = 80;
config.HTTPS_PORT = 443;

